---
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPost from "@/components/BlogPost.astro";
import war from "@/assets/war.png";
import { Image } from "astro:assets";
import Ad from "@/components/Ad.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle="Blog Home">
  <Ad />
  <div class="py-8">
    <Image src={war} alt="war" />
  </div>
  <ul>
    {allPosts.map((post) => <BlogPost post={post} />)}
  </ul>
</BaseLayout>
