<div class="flex justify-center">
  <div
    class="border border-foreground p-2 mt-4 text-center w-96 text-sm font-mono"
  >
    <span>
      All posts here are completely free. If you enjoy, consider becoming a paid
      subscriber on <a
        href="https://acidgambit.substack.com"
        class="acid underline underline-offset-2">substack</a
      > for $5/mo.
    </span>
    <!-- <div class="pt-2">
      <a href="https://acidgambit.substack.com/">Substack</a>
    </div> -->
  </div>
</div>
