---
import Socials from "./Socials.astro";

const platform = "github";
const username = "mattbrc";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>2024 Acid Gambit</p>
</footer>
