---
import ThemeIcon from "./ThemeIcon.astro";
---

<!-- previous header div class --><!-- class="top-0 left-0 p-2 flex items-end w-full flex-col gap-2 tracking-tighter" -->
<header>
  <div
    class="top-0 left-0 p-2 w-full flex justify-between items-end tracking-tighter"
  >
    <div class="font-mono text-sm font-medium">
      <a class="acid hover:underline underline-offset-4" href="/">acid gambit</a
      >
    </div>
    <nav class="items-center font-mono ml-auto flex gap-4 sm:gap-6">
      <a
        class="acid text-sm font-medium hover:underline underline-offset-4"
        href="/">home</a
      >
      <a
        target="_blank"
        rel="noopener noreferrer"
        class="acid text-sm font-medium hover:underline underline-offset-4"
        href="https://acidgambit.substack.com">substack</a
      >
      <a
        target="_blank"
        rel="noopener noreferrer"
        class="acid text-sm font-medium hover:underline underline-offset-4"
        href="https://instagram.com/acidgambit">instagram</a
      >
    </nav>
  </div>
</header>
