---
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <div
    class="top-0 left-0 p-2 flex items-end w-full flex-col gap-2 tracking-tighter"
  >
    <nav class="items-center font-mono ml-auto flex gap-4 sm:gap-6">
      <a class="text-sm font-medium hover:underline underline-offset-4" href="/"
        >home</a
      >
      <a
        class="text-sm font-medium hover:underline underline-offset-4"
        href="/about/">about</a
      >
      <a class="text-sm font-medium hover:underline underline-offset-4" href=""
        >substack</a
      >
    </nav>
  </div>
</header>
